{% extends 'base.html.twig' %}

{% block title %}Animals{% endblock %}

{% block body %}


    <div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-light hero"
         style="background-image: linear-gradient(to right bottom, #00b42f8f, #ffeb0059), url({{ asset('build/images/hero/hero1.jpg') }});"
    >
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            {# Hero text #}
        </div>
    </div>

    <div class="container mt-5">
        <h1 class="text-white">Animals in our Zoo</h1>
    </div>

    <div class="container mt-3 mb-5">
        <div class="d-flex align-items-center mb-2">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('animal_create') }}" type="button" class="btn btn-outline-secondary me-2">
                    Add animal
                </a>
            {% endif %}
            {% include 'validations/validation.html.twig' %}
        </div>
        <div class="d-flex justify-content-center">
            <div class="p-2">
                <form action="{{ path('animal_index') }}" method="GET">
                    <div class="input-group">
                        <span class="input-group-text" id="animal_sort">List order by</span>
                        <select class="form-select" id="animal_sort" name="sort">
                            <option value="default">Default</option>
                            <option value="name_az" {% if sortBy == 'name_az' %} selected {% endif %}>Name a-z</option>
                            <option value="name_za" {% if sortBy == 'name_za' %} selected {% endif %}>Name z-a</option>
                            <option value="year_lh" {% if sortBy == 'year_lh' %} selected {% endif %}>Year - Low to High</option>
                            <option value="year_hl" {% if sortBy == 'year_hl' %} selected {% endif %}>Year - High to Low</option>
                        </select>
                        <button class="btn btn-outline-secondary" type="submit">Sort</button>
                    </div>
                </form>
            </div>

            <div class="p-2">
                <form action="{{ path('animal_index') }}" method="GET">
                    <div class="input-group">
                        <span class="input-group-text" id="animal_filter">Filter list by</span>
                        <select name="species_id" id="animal_filter" name="filter">
                            <option value="0">View all</option>
                            {% for specie in species %}
                                <option value="{{ specie.id }}" {% if specieId == specie.id %} selected {% endif %}>{{ specie.name }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-outline-secondary" type="submit">Filter</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-4">
            {% for animal in animals %}
                <div class="col mb-2">
                    <div class="card h-100">
                        {% if animal.image %}
                            <img src="{{ animal.imagePath }}" alt="{{ animal.image }}" class="card-img-top">
                        {% else %}
                            <img src="{{ asset('build/images/noimage.jpg') }}" alt="noimage" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="text-success" style="text-decoration: none"
                                   href="{{ path('animal_view', {id:animal.id}) }}">{{ animal.name }}</a>
                            </h5>
                            <p class="card-text">Birth year: {{ animal.birthYear.format("Y") }}</p>
                            <p class="card-text">Species:
                                <a class="text-success" style="text-decoration: none" href="{{ path('species_animals', {id:animal.species.id}) }}">
                                    {{ animal.species.name|lower }}
                                </a>
                            </p>
                            <p class="card-text">
                                Specialist of {{ animal.species.name|lower }}:
                                <a class="text-success" href="{{ path('manager_view', {id:animal.manager.id}) }}" style="text-decoration: none">{{ animal.manager.name }} {{ animal.manager.surname }}</a>
                            </p>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="d-flex align-items-center m-1">
                                <a href="{{ path('animal_edit', {id:animal.id}) }}" type="button"
                                   class="btn btn-outline-secondary m-1">Edit</a>
                                <!-- Button trigger modal -->
                                <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                   data-bs-target="{{ '#animal' ~ animal.id }}">
                                    Delete
                                </a>
                            </div>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <!-- Modal -->
                            <div class="modal fade" id="{{ 'animal' ~ animal.id }}" data-bs-backdrop="static"
                                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModal">Delete</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete {{ animal.name }}?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary"
                                                    data-bs-dismiss="modal">Close
                                            </button>
                                            <form action="{{ path('animal_delete', {id:animal.id}) }}" method="POST">
                                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="mt-4">
            {% if animals is empty %}
                <h5>There are no animals to show.</h5>
            {% endif %}
        </div>
    </div>

    {% include 'bottomhero.html.twig' %}
{% endblock %}
