{% extends 'base.html.twig' %}

{% block title %}{{ species.name }}{% endblock %}

{% block body %}
    <div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-light hero"
         style="background-image: linear-gradient(to right bottom, #00b42f8f, #ffeb0059), url('{{ asset('/build/images/hero/species/' ~ species.name ~ '.jpg') }}');"
    >
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            {# Hero text #}
        </div>
    </div>

    <div class="container mt-5">
        <h1 class="text-white">{{ species.name }}</h1>
    </div>

    <div class="container mt-3 mb-5">
        <div class="d-flex align-items-center mb-2">
            <a href="{{ path('species_index') }}" type="button" class="btn btn-outline-secondary me-2">
                Back
            </a>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for animal in animals %}
                <div class="col">
                    <div class="card h-100">
                        {% if animal.image %}
                            <img src="{{ animal.imagePath }}" alt="{{ animal.image }}" class="card-img-top">
                        {% else %}
                            <img src="{{ asset('build/images/noimage.jpg') }}" alt="noimage" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="text-success" href="{{ path('animal_view', {id:animal.id}) }}" style="text-decoration: none">
                                {{ animal.name }}
                                </a>
                            </h5>
                            <p class="card-text">Birth year: {{ animal.birthYear.format("Y") }}</p>
                            <p class="card-text">Species: {{ animal.species.name|lower }}</p>
                            <p class="card-text">Specialist of {{ animal.species.name|lower }}:
                                <a class="text-success" href="{{ path('manager_view', {id:animal.manager.id}) }}" style="text-decoration: none">
                                {{ animal.manager.name }} {{ animal.manager.surname }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if animals is empty %}
            <p class="mt-2">There are no animals to show.</p>
        {% endif %}
    </div>
{% endblock %}
