{% extends 'base.html.twig' %}

{% block title %}Animal Species{% endblock %}

{% block body %}
    <div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-light hero"
         style="background-image: linear-gradient(to right bottom, #00b42f8f, #ffeb0059), url({{ asset('build/images/hero/hero3.jpg') }});"
    >
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            {# Hero text #}
        </div>
    </div>

    <div class="container mt-5">
        <h1 class="text-white">Animal species</h1>
    </div>

    <div class="container mt-5 mb-5">
        <div class="row row-cols-1 row-cols-md-4 g-2">
            {% for specie in species %}
                <a href="{{ path('species_animals', {id:specie.id}) }}" style="text-decoration: none">
                    <div class="col">
                        <div class="card h-100">
                            <img src="{{ asset('build/images/species/') }}{{ specie.image }}" class="card-img-top p-3"
                                 alt="{{ specie.name }}">
                            <div class="card-body">
                                <h5 class="text-dark card-title">{{ specie.name }}</h5>
                                <p class="text-dark card-text">{{ specie.about }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
