{% extends 'base.html.twig' %}

{% block title %}Animal Species{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Animal Species</h1>
    </div>
    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-4 g-2">
            {% for specie in species %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ asset('build/images/species/') }}{{ specie.image }}" class="card-img-top p-3"
                             alt="{{ specie.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ specie.name }}</h5>
                            <p class="card-text">{{ specie.about }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
