{% set route_name = app.request.attributes.get('_route') %}

<nav class="fixed-top" style="background-color: #ffffffde;">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">

                <img src="/build/images/zoologo.png" alt="" width="100" height="80"
                     class="d-inline-block align-text-top">
                <span class="fs-4">Zoopark</span>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a  href="{{ path('animal_index') }}"
                        class="btn btn-outline-success m-1 px-2 {% if route_name == 'animal_index' %} active {% endif %}">
                        Animals
                    </a>
                </li>
                <li>
                    <a href="{{ path('manager_index') }}"
                       class="btn btn-outline-success m-1 px-2 {% if route_name == 'manager_index' %} active {% endif %}">
                        Specialists
                    </a>
                </li>
                <li>
                    <a href="{{ path('species_index') }}"
                       class="btn btn-outline-success m-1 px-2 {% if route_name == 'species_index' %} active {% endif %}">
                        Species
                    </a>
                </li>
            </ul>

            <div class="col-md-3 text-end">
                {% if app.user %}
                    <div class="input-group justify-content-end">
                        <div class="input-group-text" id="btnGroupAddon">{{ app.user.username }}</div>
                        <a href="{{ path('app_logout') }}" type="button" class="btn btn-outline-success">Logout</a>
                    </div>
                {% else %}
                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1" class="btn btn-outline-success me-2">Login</button>
                {% endif %}
            </div>


            <!-- Modal -->
            <div data-bs-backdrop="false" class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Please sign in</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ path('app_login') }}" method="POST">
                                <div class="form-floating mb-1">
                                    <input value="{{ app.request.get('last_username') }}" autocomplete="username" name="username" type="text" class="form-control" id="floatingInput" placeholder="Username" required>
                                    <label for="floatingInput">Username</label>
                                </div>
                                <div class="form-floating  mb-3">
                                    <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                                    <label for="floatingPassword">Password</label>
                                </div>

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <button class="w-100 btn btn-lg btn-success" type="submit">Sign in</button>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>



        </header>
    </div>
</nav>
